.c1{
    width:18rem;
    background-color:cornsilk;

}
.car1{
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
    padding-bottom: 150px;
}
.main{
   background-image: url(https://live.staticflickr.com/65535/48636783771_516fa3f381_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.col{
    box-shadow:2px 2px 5px black;
    width: 287px;
}
.text{
    text-decoration: none;
}
.textcolor{
    color: black;
}